.dinamicCards {
    display: inline-block;
    white-space: normal;
    margin: 1.5rem;
    box-shadow:  0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 3px 0 rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 426px){
    .dinamicCards{
        margin: .5rem;
    }
}