.mainProyect{
    height: 100%;
    background-color:#F9F9F9;
    margin-top: 46%;
}

.sizeComponent {
    max-width: 100%;
}

.textProyects {
    
    text-align: center;
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

p {
    margin-top: 1.5rem;
    font-size: .8rem;
}

.proyectCards{
    overflow: auto;
    white-space: nowrap;
}

.btnCard1{
    font-size: 2rem;
    color: #3AAFA9;
    margin-top: 12rem;
}

.btnCard2{
    font-size: 2rem;
    color: #3AAFA9;
    margin-top: 12rem;
    margin-left: 2.3rem;
}

/*------mobile medias------*/
@media only screen and (max-width: 426px){
    .btnCard1 {
        display: none;
    }
    .btnCard2 {
        display: none;
    }
    .proyectCards{
        overflow: auto;
        white-space: unset;
    }

    

}