* {
    margin: 0%;
    padding: 0%;
}

.btn-color{
    background-color: #3AAFA9 !important;
    color: #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-family: 'Montserrat', sans serif;
    opacity: 100%;
}

.home {
    color: #2B7A78 !important;
}

.nav-link {
    font-family: 'Montserrat', sans serif;
    opacity: 100%;
}

@media (min-width: 5px) and (max-width: 369px) {
    .btn-color{
        width: 22%;
        height: 4vh;
        font-size: 8px;
     }   
    
     .donate {
        margin-right: 3%;
    }
    
     .imgNav1{
        margin-left: 1%;
    }
    
    .img1 {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .imgNav2 {
        margin-left: -5%;
    }
    
    .img2{
        width: 6rem;
        height: 2rem;
    }
}

@media (min-width: 369px) and (max-width: 575.98px) { 
 .btn-color{
    width: 19%;
    height: 5vh;
    font-size: 10px;
 }   

 .donate {
    margin-right: 3%;
}

 .imgNav1{
    margin-left: 1%;
}

.img1 {
    width: 2rem;
    height: 2rem;
}

.imgNav2 {
    margin-left: -1%;
}

.img2{
    width: 8rem;
    height: 2rem;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-color{
        width: 19%;
        height: 4vh;
        font-size: 12px;
     }   
    
     .donate {
        margin-right: 3%;
    }
    
     .imgNav1{
        margin-left: 1%;
    }
    
    .img1 {
        width: 3rem;
        height: 3rem;
    }
    
    .imgNav2 {
        margin-left: -1%;
    }
    
    .img2{
        width: 8rem;
        height: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .btn-color{
        width: 17%;
        height: 4vh;
        font-size: 13px;
     }   
    
     .donate {
        margin-right: 3%;
    }
    
     .imgNav1{
        margin-left: 1%;
    }
    
    .img1 {
        width: 4rem;
        height: 4rem;
    }
    
    .imgNav2 {
        margin-left: -1%;
    }
    
    .img2{
        width: 14rem;
        height: 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .btn-color{
        width: 14%;
        height: 5vh;
        font-size: 11px;
     }   
    
     .donate {
        margin-right: 7%;
    }

    .nav-link {
        font-size: 11px;
    }
    
     .imgNav1{
        margin-left: 7%;
    }
    
    .img1 {
        width: 5rem;
        height: 5rem;
    }
    
    .imgNav2 {
        margin-left: -2%;
    }
    
    .img2{
        width: 17rem;
        height: 3.5rem;
    }

    #navbarText {
        padding-left: 8%;
    } 
}

@media (min-width: 1200px) {
    .btn-color{
        width: 12%;
        height: 6vh;
        font-size: 18px;
     }   
    
     .donate {
        margin-right: 7%;
    }

    .nav-link {
        font-size: 18px;
    }
    
     .imgNav1{
        margin-left: 7%;
    }
    
    .img1 {
        width: 7rem;
        height: 7rem;
    }
    
    .imgNav2 {
        margin-left: 0%;
    }
    
    .img2{
        width: 21rem;
        height: 4.5rem;
    }

    #navbarText {
        margin-left: 2%;
    } 
}